/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

* {
  box-sizing: border-box;
}
html {
  font-size: 22px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 50px;
}
h1,
h2,
h3 {
  font-weight:bold;
  padding-top: 5px;
  padding-bottom: 5px;
}
a {
  color:blue;
}
a:hover {
  color: red;
}
p {
  padding-top: 10px;
  padding-bottom: 10px;
}
img {
  display: block;
  max-width: 100%;
}

figure {
  float:center;
}
figcaption {
  display: none;
  color: #EEE;
  background: rgba(20, 20,20, 0.9);
}
footer {
  width:fit-content;
  height: 25px;
  background-color:aqua;
  padding:2px;
  position:relative;
  font-size: small;
}
#divine-penalty {
  float: right;
  column-count: 3;
  column-width: 275px;
  background-color: aliceblue;
}
#persona {
  padding: 10px;
  padding-left: 4px;
}
#resume {
  background-color: rgb(255, 251, 197);
}
#homepage {
  background-color: rgba(142, 187, 247, 0.945);
  color: rgb(138, 55, 41); 
}
#profile {
  float: center;
}
#menu {
  display: flex;
  gap: 10px;
  flex-wrap:wrap;
}
/*400/16 = 25 */
@media screen and (min-width: 25em) { 
  html {
    font-size: 18px;
    line-height: 20px;
  }
  figure {
    position: relative;
    float: right;
    padding-left:5px;
  }
  figcaption {
    display:block;
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 6px;
  }
  /*750/16 = 46.875 */
}
@media screen and (min-width: 46.875em) {
  #homepage{
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
  }
  
}
